/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 19, 2018, 7:11:26 PM
    Author     : 1396582
*/

.card1{
    margin-top:100px;
}
h3{
    margin-bottom:-52px;
    margin-left:155px;
}